* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f7f7f7;
    scroll-behavior: smooth;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2E4052;
    font-weight: bold;
}

.hero {
    background-color: #A3C4F3;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}

.hero button {
    background-color: #B8E0D2;
    color: #2E4052;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.category-section {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-section img {
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
}

#about, #contact {
    padding: 40px;
    text-align: center;
    background-color: #B8E0D2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

button[type="submit"] {
    background-color: #FFCB9A;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #2E4052;
    color: #fff;
    text-align: center;
    padding: 20px;
}


header {
    background-color: #FFCB9A;
    text-align: center;
    padding: 0px;

}

h1 {
    color: #2E4052;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2E4052;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 250px;
}

.box-item img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #2E4052;
    color: #fff;
    text-align: center;
    padding: 10px;
}
